/*!
 * Start Bootstrap - Busines Frontpage (https://startbootstrap.com/template-overviews/business-frontpage)
 * Copyright 2013-2019 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-frontpage/blob/master/LICENSE)
 */
body {
  padding-top: 56px;
}
.btn-primary{
  background-color: #5c636e !important;
  border-color: #5c636e !important;
}
.btn-primary-new a:hover {
  background-color: #5c636e !important;
  border-color: #5c636e !important;
}
/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #f9fcfc;
/*  margin-right: 50%;*/
}

/* Header */

header {
    background-color: #414651;
    color: #414651;
}
header container {
    position: relative;
    background-color: #414651;
    
}
.bg-primary {
    background-color: #414651;
    color: #414651;
    padding-top: 0;
}

 header .my-header {
    background-color: #113F67;
     padding-bottom: 45px;
}



/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
    
}

.image-banner {
    width: 10%;
}

.image-banner img {
    width: 95%;
}


/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {   
  float: left;
  padding: 8px;
  padding-left: 8px; 
  border: none;
  margin-top: 8px;
    width: 99%;
  margin-right: 16px;
  font-size: 17px;
  height: 10; 
  outline: none;    
}



/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #f9fcfc;
  }
}
